.container {
	width:1200px;
	margin : 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 20px;
}
/*----------
	타이틀
----------*/
/* 제목 */
.bmi-title {
	display: flex;
	flex-direction: row;
}
.bmi-title > .bmi-title-text {
	width: 85%;
	color: #435334;
	font-size: 30px;
	font-weight: 700;
	margin-top : auto;
	margin-left: 10px;
	margin-bottom: 2px;
}
.bmi-title > .move {
	width: 15%;
	height: 30px;
	margin: 20px 20px 5px 5px;
	border-radius: 10px;
}
.bmi-title > .move:hover {
	background-color: #435334;
	color: #FAF1E4;
}
/* 사용자 이름 */
.bmi-text {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 20px 15px 5px;
}

/*-------------
	bmi 내용
-------------*/
.bmi-content {
	padding: 0 30px;
}
.bmi-input-data > .bmi-input-detail {
	display: flex;
    flex-direction: row;
}
.bmi-input-detail {
	margin: 10px;
}
.bmi-input-detail li {
	margin: 0 30px 0 0;
}
.bmi-input-detail > #title-exercise_mass {
	margin: 0 10px 0 0;
}
.bmi-input-detail > .exercise_mass {
	margin: 0 6px;
}
.bmi-input-detail > .bmi-input-essential {
	margin: 0;
	font-size: 25px;
	color: red;
}
.bmi-input-title {
	font-size: 15px;
	font-weight: 700;
}
.bmi-input-detail input[type="text"] {
	border: none;
	background: transparent; /* 투명 */
	border-bottom: 2px solid #99B080;
	outline: none; /* 포커스 효과 제거 */
	margin-top: -10px;
	width: 100px;
	height: 30px;
}
.bmi-input-detail input[type="text"]:focus {
	border-bottom-color: #435334; /* 포커스 시 밑줄 색상 변경 */
}
select {
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	height: auto;
	padding: none;
	outline: none;
}
.bmi-input-button > .bmi-btn {
	width: 15%;
	height: 35px;
	margin: 20px;
}

/*-------------
	bmi 결과
-------------*/
@keyframes resultOpen {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
.bmi-result {
    display: none;
}
.bmi-result.show {
    display: flex;
    flex-direction: column;
    animation: resultOpen 0.5s;
    opacity: 1; /* 투명도 */
}
.bmi-result > .detail-division-line {
	width: 100%;
}
.bmi-result-text {
	padding: 20px;
}
.bmi-result-text p {
	font-size: 15px;
	font-weight: 800;
	text-align : center;
}
.bmi-result-btn {
	width: 100%;
	margin: 20px;
	text-align: center;
}
.bmi-result-btn-text {
	width: 165px;
	height: 35px;
	margin: 20px;
}
/* 그래프 */
.bmi-result-data {
	margin: 0 15%;
}
.bmi-result-graph {
	width: 100%;
	height: 35px;
	overflow: hidden;
}
.bar-container {
	display: flex;
	margin: 0 15%;
	width: 70%;
	height: 100%;
}
.bar-underWeight,
.bar-nomalWeight,
.bar-overWeight,
.bar-fatness {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #435334;
	font-weight: 700;
}
.bar-underWeight {
	width: 30%;
	background-color: #9FBB73;
}
.bar-nomalWeight {
	width: 25%;
	background-color: #F1EB90;
}
.bar-overWeight {
	width: 20%;
	background-color: #F3B664;
}
.bar-fatness {
	width: 35%;
	background-color: #EC8F5E;
}
.bmi-fixed-data-detail {
	display: flex;
	flex-direction: row;
	margin: 0 0 0 14%;
	font-weight: 500;
}
.text-underWeight {
	width: 22%;
}
.text-nomalWeight {
	width: 18%;
}
.text-overWeight {
	width: 15%;
}
.text-fatness {
	width: 45%;
}

/*-------------------
	SQL 데이터 텍스트
-------------------*/
.sql-text-name {
	color: #748E63;
	font-size: 26px;
	font-weight: 800;
}
#result-user-name {
	color: #748E63;
	font-size: 22px;
}
.sql-result-text {
	color: #748E63;
	font-size: 22px;
}

/*---------
	버튼
---------*/
button {
	background-color: #CEDEBD;
	font-size: 12px;
	font-weight: 700;
}
button:hover {
	background-color: #435334;
	color: #FAF1E4;
}

/*-----------
	구분선
-----------*/
.title-division-line {
	width:1160px;
	border-top: 3px solid #435334;
	margin : 0 auto;
}
.detail-division-line {
	border-top: 2px solid #CEDEBD;
	margin : 10px auto 10px auto;
}