.container {
	width:1200px;
	margin : 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 20px;
}
/*----------
	타이틀
----------*/
/* 제목 */
.diary-title {
	display: flex;
	flex-direction: row;
}
.diary-title > .diary-title-text {
	width: 87%;
	color: #435334;
	font-size: 30px;
	font-weight: 700;
	margin-top : auto;
	margin-left: 10px;
	margin-bottom: 2px;
}
.diary-title > .move {
	width: 13%;
	height: 30px;
	margin: 20px 20px 5px 5px;
	border-radius: 10px;
}
.diary-title > .move:hover {
	background-color: #435334;
	color: #FAF1E4;
}
/* 사용자 이름 */
.diary-text {
	font-size: 20px;
	font-weight: 700;
	margin: 20px 20px 15px 5px;
}

/*---------
	내용
---------*/
.diary-result {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
/*달력*/
.diary-calendar {
	width: 40%;
}
/*섭취량관련 내용*/
.diary-result-text {
	width: 40%;
	display: flex;
	flex-direction: column;
}
.diary-result-main {
	margin-bottom: 15px;
}
.diary-result-main > .diary-result-main-text {
	font-size: 25px;
	font-weight: 800;
}
.diary-result-main > .detail-division-line {
	width: 70%;
	margin: 0;
}
.diary-result-main > #diary-result-main-sub {
	font-size: 20px;
	font-weight: 700;
}
.diary-result-text > .diary-contact-text {
	display: flex;
	flex-direction: column;
}
.diary-contact-text a {
	font-size: 13px;
}

/*-----------------
	개인 추천 한마디
-----------------*/
.diary-comment {
	background-color: #FAF1E4;
	border-radius: 10px;
	padding: 30px;
}
.diary-comment-detail {
	margin: 10px;
}
.diary-comment p {
	font-size: 15px;
	font-weight: 800;
}
.diary-comment > #diary-comment-title {
	margin-left: 10px;
	margin-bottom: 10px;
}

/*-------------------
	SQL 데이터 텍스트
-------------------*/
.sql-text-name {
	color: #748E63;
	font-size: 26px;
	font-weight: 800;
}
.sql-diary-result-main {
	color: #748E63;
	font-size: 33px;
}
.sql-diary-result {
	color: #748E63;
	font-size: 28px;
}
/*개인 추천 한마디*/
.sql-diary-comment {
	font-size: 23px;
	color: #748E63;
}
.sql-diary-detail {
	font-size: 21px;
	color: red;
}

/*-----------
	모달팝업
-----------*/
#modalWrap {
	position: fixed; /* 고정된 위치에 배치 */
	z-index: 1; /* 다른 요소들보다 위에 위치하도록 하는데, 숫자가 크면 위에 놓이게 됨 */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	display: none; /* 이벤트 발생 시, 띄우게하기 위함 */
  	justify-content: center;
  	align-items: center;
}
/* 모달 팝업 */
#modalBody {
	width: 700px;
	height: 580px;
	padding: 30px 30px;
	margin: 0 auto;
	border: 1px solid #777;
	background-color: #FAF1E4;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}
/* 모달 메인 */
#modalBody-content {
	margin: 40px 60px;
}
/* 제목 */
#modalBody-title {
	margin-bottom : 10px;
}
#modalBody-title-text {
	color: #435334;
	font-size: 30px;
	font-weight: 700;
	margin-bottom : 5px;
}
#modalBody-title > .title-division-line {
	width: initial;
	margin: 15px;
}
/* 메인 내용 */
#modalBody-main {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 30px;
}
.modalBody-result {
	display: flex;
    flex-direction: row;
    margin: 25px;
}
.modalBody-text {
	width: 40%;
}
.modalBody-input {
	width: 60%;
	display: flex;
    flex-direction: row;
    justify-content: center;
}
/* 글씨 */
.modalBody-text {
	font-size: 20px;
	font-weight: 700;
}
/* 버튼 */
/* 닫기 버튼 */
#closeBtn {
	float:right;
	font-weight: bold;
	color: #777;
	font-size:25px;
	cursor: pointer;
}
#closeBtn:hover {
	color: #435334;
}
/* 입력 버튼 */
#modalBody-button > button {
	font-size: 15px;
	width: 100%;
	height: 50px;
}

/*---------
	버튼
---------*/
button {
	background-color: #CEDEBD;
	font-size: 12px;
	font-weight: 700;
}
button:hover {
	background-color: #435334;
	color: #FAF1E4;
}

/*-----------
	구분선
-----------*/
.title-division-line {
	width:1160px;
	border-top: 3px solid #435334;
	margin : 0 auto;
}
.detail-division-line {
	border-top: 2px solid #CEDEBD;
	margin : 10px auto 10px auto;
}