.container {
	width:1200px;
	margin : 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding : 20px;
}
/*--------------
	운동 리스트
--------------*/
.container > .info {
	display: flex;
	width: 800px;
	margin: 10px auto;
	margin-right: 40px;
	flex-direction: column;
}
/* 제목 */
.healthInfo-title {
	display: flex;
	flex-direction: row;
}
.healthInfo-title > .healthInfo-title-text {
	width: 85%;
}
/* 검색 */
.search-place {
	margin: 0px 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 40px;
}
.search-place > #search-box > input {
	width: 580px;
	height: 35px;
	margin: 3px 10px;
	border: 1px solid #435334;
	border-radius: 20px;
	cursor : text;
	padding-left: 20px;
	padding-right: 20px;
}
#healthName:focus {
	outline: 2px solid #435334; /* 포커스 시 밑줄 색상 변경 */
}
.search-place > #search-text {
	width: 50px;
	font-size: 18px;
	font-weight: 700;
	margin: 5px;
	cursor : pointer;
}
.search-tag {
	height: 20px;
}
/* 검색 내용 */
.list-title {
	display: flex;
	flex-direction: row;
}
.list-title > .list-title-text {
	width: 85%;
	font-size: 15px;
	font-weight: 700;
	margin: 5px 5px 5px 10px;
}
.list-title > .select {
	width: 15%;
	height: 30px;
	margin: 5px 20px 5px 5px;
	background-color: #CEDEBD;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 700;
}
.list-title > .select:hover {
	background-color: #435334;
	color: #FAF1E4;
}
.list-division-line {
	background-color: #CEDEBD;
	height: 35px;
	display: flex;
	flex-direction: row;
}
.list-division-line > p {
	margin: auto 25px 5px auto; /*상우하좌(시계방향)*/
	font-size: 10px;
	font-weight: 700;
}
.health-info {
	border-top: 1px solid #D9D9D9;
	cursor: pointer;
}
.health-info:hover {
	background-color: #FAF8ED;
}
.health-info > td {
	padding: 10 0px;
	text-align: center;
}
.health-info > td.health {
	text-align: left;
}
.empty-healthlist {
	padding: 250px;
	text-align: center;
}

/*----------
	페이징
-----------*/
.paging {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
}
.paging li {
	margin: 3px;
}

/*-------
	별
--------*/
.bookmark {
  font-size: 23px;
  line-height: 1;
  color: #D9D9D9;
}
.bookmark:hover {
  color: gold;
}

/*----------------
	진행 운동 목록
----------------*/
.container > .add-info {
	flex-direction: column;
	margin : 10px 15px;
	width: 380px;
	background-color: #F3F3F3;
	border-radius: 20px;
}
.add-info-content {
	width: 320px;
	margin : 5px auto;
}
/* 제목 */
.add-info-title {
	margin-left: 5px;
}
.date {
	margin: 15px auto -5px 5px;
}
select {
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	height: auto;
	padding: none;
	outline: none;
}
/* 총 운동 결과 */
#healthInfo-text {
	font-size: 14px;
	font-weight: 700;
	text-align: right;
	margin-right: 10px;
}
#healthInfo-graph {
	margin: 5px;
	margin-bottom: 10px;
	background-color: #D9D9D9;
	border-radius: 20px;
	height: 20px;
}
/* 운동 내역 */
.healthInfo-select {
	border-top: 1px solid #D9D9D9;
	padding: 7px;
	cursor: pointer;
}
.healthInfo-select:hover {
	background-color: #FAF8ED;
}
.healthInfo-detail {
	display: flex;
	flex-direction: row;
	margin: 0 10px;
	align-items: center;
}
.healthInfo-name {
	width: 70%;
}
.healthInfo-name-text {
	font-size: 14px;
	font-weight: 600;
}
.healthInfo-name-time {
	font-size: 10px;
	font-weight: 500;
	color: #748E63;
}
.healthInfo-cals {
	width: 15%;
	font-size: 12px;
	font-weight: 500;
	margin-left: auto;
	color: #435334;
}
.healthInfo-del {
	width: 15%;
}
#delButton {
	width: 25px;
	height: 25px;
	background-color: #CEDEBD;
	margin: 0 auto;
	cursor: pointer;
}
#delButton:hover {
	background-color: #748E63;
}
#delButton > p {
	font-size: 15px;
	font-weight: 800;
	color: #FFFFFF;
	text-align: center;
}
/* 입력 버튼 */
#select-info {
	width: 320px;
	height: 35px;
	background-color: #CEDEBD;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 15px;
}
#select-info:hover {
	background-color: #435334;
	color: #FAF1E4;
}

/*-------------
	메인 글씨
-------------*/
.healthInfo-title-text {
	color: #435334;
	font-size: 30px;
	font-weight: 700;
	margin-top : 5px;
	margin-left: 10px;
}
.date {
	font-size: 18px;
	font-weight: 700;
	height: 40px;
}

/*-------------
	sql 글씨
-------------*/
#healthInfo-text > .sql-text {
	color: #748E63;
	font-size: 20px;
	font-weight: 800;
}

/*-----------
	모달팝업
-----------*/
#modalWrap {
	position: fixed; /* 고정된 위치에 배치 */
	z-index: 1; /* 다른 요소들보다 위에 위치하도록 하는데, 숫자가 크면 위에 놓이게 됨 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	display: none; /* 이벤트 발생 시, 띄우게하기 위함 */
  	justify-content: center;
  	align-items: center;
}
/* 모달 팝업 */
#modalBody {
	width: 700px;
	height: 500px;
	padding: 30px 30px;
	margin: 0 auto;
	border: 1px solid #777;
	background-color: #FAF1E4;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}
/* 모달 메인 */
#modalBody-content {
	margin: 40px 60px;
}
/* 제목 */
#modalBody-title {
	margin-bottom : 10px;
}
#modalBody-title-text {
	color: #435334;
	font-size: 30px;
	font-weight: 700;
	margin-bottom : 5px;
}
/* 메인 내용 */
#modalBody-main {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin: 30px;
}
.modalBody-result {
	display: flex;
    flex-direction: row;
    margin: 20px;
}
.modalBody-text {
	width: 40%;
}
.modalBody-input {
	width: 60%;
	display: flex;
    flex-direction: row;
    justify-content: center;
}
/* 글씨 */
.modalBody-text {
	font-size: 20px;
	font-weight: 700;
}
/* 입력값 */
#minute {
	border: none;
	background: transparent; /* 투명 */
	border-bottom: 2px solid #99B080;
	outline: none; /* 포커스 효과 제거 */
	width: 100px;
	height: 30px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin: auto 0;
}
#minute:focus {
	border-bottom-color: #435334; /* 포커스 시 밑줄 색상 변경 */
}
#calorie {
	border: none;
	background: transparent; /* 투명 */
	border-bottom: 2px solid #99B080;
	outline: none; /* 포커스 효과 제거 */
	width: 100px;
	height: 30px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin: auto 0;
}
/* 버튼 */
#minus-button {
	width: 30px;
	height: 30px;
	background-color: #D9D9D9;
	margin: 0 auto;
	cursor: pointer;
}
#minus-button:hover {
	background-color: #748E63;
}
#minus-button > p {
	font-size: 20px;
	font-weight: 800;
	color: #FFFFFF;
	text-align: center;
}
#plus-button {
	width: 30px;
	height: 30px;
	background-color: #D9D9D9;
	margin: 0 auto;
	cursor: pointer;
}
#plus-button:hover {
	background-color: #748E63;
}
#plus-button > p {
	font-size: 15px;
	font-weight: 800;
	color: #FFFFFF;
	text-align: center;
	transform: translate(0%, 20%);
}
/* 버튼 */
/* 닫기 버튼 */
#closeBtn {
	float:right;
	font-weight: bold;
	color: #777;
	font-size:25px;
	cursor: pointer;
}
#closeBtn:hover {
	color: #435334;
}
/* 입력 버튼 */
#modalBody-button > button {
	background-color: #CEDEBD;
	font-size: 15px;
	font-weight: 700;
	width: 100%;
	height: 50px;
}
#modalBody-button > button:hover {
	background-color: #435334;
	color: #FAF1E4;
}

/*-----------
	구분선
-----------*/
.title-division-line {
	border-top: 3px solid #435334;
	margin : 0 auto 10px;
}
.detail-division-line {
	border-top: 2px solid #CEDEBD;
	margin : 10px auto 10px auto;
}