.container {
	width:1200px;
	margin : 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*--------------
	운동 리스트
--------------*/
.container > .info {
	display: flex;
	width: 800px;
	margin: 10px auto;
	margin-right: 40px;
	flex-direction: column;
}
/* 제목 */
.healthInfo-title {
	display: flex;
	flex-direction: row;
}
.healthInfo-title > .healthInfo-title-text {
	width: 85%;
}
.healthInfo-title > .select {
	width: 15%;
	height: 30px;
	margin: 5px auto 5px;
	background-color: #CEDEBD;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 700;
}
.healthInfo-title > .select:hover {
	background-color: #435334;
	color: #FAF1E4;
}
/* 검색 */
.search-place {
	margin: 0px 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 40px;
}
.search-place > #search-box > input {
	width: 580px;
	height: 35px;
	margin: 3px 10px;
	border: 1px solid #435334;
	border-radius: 20px;
	cursor : text;
	padding-left: 20px;
	padding-right: 20px;
}
.search-place > #search-text {
	width: 50px;
	font-size: 18px;
	font-weight: 700;
	margin: 5px;
	cursor : pointer;
}
.search-tag {
	height: 20px;
}
/* 검색 내용 */
.list-text {
	font-size: 15px;
	font-weight: 700;
	margin-left: 10px;
}
.list-division-line {
	background-color: #CEDEBD;
	height: 35px;
	display: flex;
	flex-direction: row;
}
.list-division-line > p {
	margin: auto 25px 5px auto; /*상우하좌(시계방향)*/
	font-size: 10px;
	font-weight: 700;
}

/*----------------
	진행 운동 목록
----------------*/
.container > .add-info {
	flex-direction: column;
	margin : 10px 15px;
	width: 380px;
	background-color: #F3F3F3;
	border-radius: 20px;
}
.add-info-content {
	width: 320px;
	margin : 5px auto;
}
/* 제목 */
.add-info-title {
	margin-left: 5px;
}
.date {
	margin: 15px auto -5px 20px;
}
/* 총 운동 결과 */
#healthInfo-text {
	font-size: 14px;
	font-weight: 700;
	text-align: right;
	margin-right: 10px;
}
#healthInfo-graph {
	margin: 5px;
	margin-bottom: 10px;
	background-color: #D9D9D9;
	border-radius: 20px;
	height: 20px;
}
/* 입력 버튼 */
.select-info {
	width: 320px;
	height: 35px;
	background-color: #CEDEBD;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 15px;
}
.select-info:hover {
	background-color: #435334;
	color: #FAF1E4;
}
/*--------------
	메인 글씨
--------------*/
.healthInfo-title-text {
	color: #435334;
	font-size: 30px;
	font-weight: 700;
	margin-top : 5px;
	margin-left: 10px;
}
.date {
	font-size: 18px;
	font-weight: 700;
	height: 40px;
}

/*-----------
	구분선
-----------*/
.title-division-line {
	border-top: 3px solid #435334;
	margin : 0 auto 10px;
}
.detail-division-line {
	border-top: 2px solid #CEDEBD;
	margin : 10px auto 10px auto;
}
.item-division-line {
	border-top: 1px solid #D9D9D9;
}
.item-division-line > td {
	padding: 10 0px;
}