.container {
	width:1200px;
	margin : 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 20px;
}
/*----------
	타이틀
----------*/
/* 제목 */
.foodDiary-title {
	display: flex;
	flex-direction: row;
}
.foodDiary-title > .foodDiary-title-text {
	width: 87%;
	color: #435334;
	font-size: 30px;
	font-weight: 700;
	margin-top : auto;
	margin-left: 10px;
	margin-bottom: 2px;
}
.foodDiary-title > .move {
	width: 13%;
	height: 30px;
	margin: 20px 20px 5px 5px;
	border-radius: 10px;
}
.foodDiary-title > .move:hover {
	background-color: #435334;
	color: #FAF1E4;
}

/*---------
	내용
---------*/
.foodDiary-content {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
/*음식 관련 기록*/
.foodDiary-result {
	width: 70%;
	display: flex;
	flex-direction: column;
}
/*달력*/
.foodDiary-calendar {
	width: 30%;
}

/*------------
	세부 내용
-------------*/
/*음식 섭취 결과*/
.foodDiary-result > .foodDiary-food-result-image {
	width: 30%;
}
.foodDiary-result > .foodDiary-food-result-detail {
	width: 70%;
	display: flex;
	flex-direction: column;
}
/*시간대별 음식 섭취*/
.foodDiary-result > .foodDiary-food-input {
	display: flex;
	flex-direction: row;
}
.foodDiary-food-input > .foodDiary-food-inform {
	width: 25%;
}

/*-----------------
	개인 추천 한마디
-----------------*/
.foodDiary-comment {
	background-color: #FAF1E4;
	border-radius: 10px;
	padding: 30px;
	display: flex;
	flex-direction: row;
}
/*그래프*/
.foodDiary-comment-graph {
	width: 65%;
}
/*텍스트*/
.foodDiary-comment-text {
	width: 35%;
}

/*-------------------
	SQL 데이터 텍스트
-------------------*/
.sql-text-name {
	color: #748E63;
	font-size: 26px;
	font-weight: 800;
}
.sql-diary-result-main {
	color: #748E63;
	font-size: 33px;
}
.sql-diary-result {
	color: #748E63;
	font-size: 28px;
}
/*개인 추천 한마디*/
.sql-diary-comment {
	font-size: 23px;
	color: #748E63;
}
.sql-diary-detail {
	font-size: 21px;
	color: red;
}

/*---------
	버튼
---------*/
button {
	background-color: #CEDEBD;
	font-size: 12px;
	font-weight: 700;
}
button:hover {
	background-color: #435334;
	color: #FAF1E4;
}

/*-----------
	구분선
-----------*/
.title-division-line {
	width:1160px;
	border-top: 3px solid #435334;
	margin : 0 auto;
}
.detail-division-line {
	border-top: 2px solid #CEDEBD;
	margin : 10px auto 10px auto;
}