.container {
	width:1200px;
	margin : 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 20px;
}
/*----------
	타이틀
----------*/
/* 제목 */
.foodDiary-title {
	display: flex;
	flex-direction: row;
}
.foodDiary-title > .foodDiary-title-text {
	width: 87%;
	color: #435334;
	font-size: 30px;
	font-weight: 700;
	margin-top : auto;
	margin-left: 10px;
	margin-bottom: 2px;
}
.foodDiary-title > .move {
	width: 13%;
	height: 30px;
	margin: 20px 20px 5px 5px;
	border-radius: 10px;
}
.foodDiary-title > .move:hover {
	background-color: #435334;
	color: #FAF1E4;
}

/*---------
	내용
---------*/
.foodDiary-content {
	display: flex;
	flex-direction: row;
	margin: 20px;
}
/*음식 관련 기록*/
.foodDiary-result {
	width: 70%;
	display: flex;
	flex-direction: column;
}
.foodDiary-food-result {
	display: flex;
	flex-direction: row;
	margin: 20px;
	margin-bottom: 40px;
}
/*달력*/
.foodDiary-calendar {
	width: 30%;
}

/*------------
	세부 내용
-------------*/
/*음식 섭취 결과 당근 이미지*/
.foodDiary-food-result-image {
	width: 40%;
	display: flex;
	justify-content:center;
}
.foodDiary-food-result-carrot {
	width: 200px;
	height: 200px;
	background-color: #748E63;
}
/*음식 섭취 결과*/
.foodDiary-food-result-detail {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
/*영양소 그래프*/
.nutrient {
	width: 100%;
}
.nutrient-graph {
	margin: 10px;
	display: flex;
	flex-direction: column;
}
.nutrient-graph > .carbs-graph {
	display: flex;
	flex-direction: row;
	margin: 5px;
}
.nutrient-graph > .protein-graph {
	display: flex;
	flex-direction: row;
	margin: 5px;	
}
.nutrient-graph > .fat-graph {
	display: flex;
	flex-direction: row;
	margin: 5px;
}
.nutrient-graph > .sugar-graph {
	display: flex;
	flex-direction: row;
	margin: 5px;
}
.nutrient-graph-name {
	display: flex;
	justify-content: flex-end;
	width: 15%;
	margin: 0 5px 0 0;
}
.nutrient-graph-result {
	width: 15%;
}
/*시간대별 음식 섭취*/
.foodDiary-result > .foodDiary-food-input {
	display: flex;
	flex-direction: row;
}
.foodDiary-food-input > .foodDiary-food-inform {
	width: 25%;
	text-align: center;
}
/*영양소 이미지*/
.nutrient-image {
	width: 130px;
	height: 130px;
	background-color: #D9D9D9;
	border-radius: 10px;
	margin: 0 auto;
	cursor: pointer;
}
.nutrient-image:hover {
	background-color: #748E63;
}
.nutrient-image > p {
	font-size: 30px;
	font-weight: 800;
	color: #FFFFFF;
	transform: translate(0%, 100%);
}
.nutrient-time {
	font-size: 15px;
	font-weight: 700;
	margin: 5px;
}
.kcal {
	font-weight: 800;
}

/*-----------------
	progress 바
-----------------*/
.progress-bar {
	width: 70%;
	height: 20px;
	background-color: #D9D9D9;
	border-radius: 10px;
	overflow: hidden; /* 넘침 방지 */
}
.progress-bar .progress {
    width: 0; /* 초기값 설정 */
    height: 20px;
    padding: 0;
    text-align: center;
    background-color: #748E63;
    border-radius: 10px;
    transition: width 1s ease-in-out; /* 너비 변화에 대한 애니메이션 효과 */
}

/*-----------------
	개인 추천 한마디
-----------------*/
.foodDiary-comment {
	background-color: #FAF1E4;
	border-radius: 10px;
	padding: 30px;
	display: flex;
	flex-direction: row;
}
/*그래프*/
.foodDiary-comment-graph {
	width: 65%;
}
/*텍스트*/
.foodDiary-comment-text {
	width: 35%;
}
.foodDiary-comment-text p {
	font-size: 15px;
	font-weight: 600;
	margin: 5px;
}

/*-------------------
	SQL 데이터 텍스트
-------------------*/
/*총합 칼로리*/
.sql-total-kcal {
	font-weight: 800;
}
.sql-total-kcal > #sql-daily-kcal {
	color: #435334;
	font-size: 35px;
}
.sql-total-kcal > #sql-target-kcal {
	font-size: 25px;
}
/*시간대별 칼로리*/
.sql-diary-result {
	color: #435334;
	font-size: 25px;
	font-weight: 800;
}
/*개인 추천 한마디*/
.sql-diary-comment {
	font-size: 20px;
	font-weight: 700;
	color: #748E63;
}
.sql-diary-detail {
	font-size: 21px;
	color: red;
}

/*---------
	버튼
---------*/
button {
	background-color: #CEDEBD;
	font-size: 12px;
	font-weight: 700;
}
button:hover {
	background-color: #435334;
	color: #FAF1E4;
}

/*-----------
	구분선
-----------*/
.title-division-line {
	width:1160px;
	border-top: 3px solid #435334;
	margin : 0 auto;
}
.detail-division-line {
	border-top: 2px solid #CEDEBD;
	margin : 10px auto 10px auto;
}