* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}
a:visited {
	color: #435334;
}
.wrap {
    width:100%;
    margin : 0 auto;    /* 가운데 정렬 */
}

.container {
	width:100%;
	max-width:1200px;
	margin : 0 auto;
	display:flex;
	flex-direction:column;
	padding: 20px;
    box-sizing: border-box;
}
.visual img {
    display: block; /* 이미지 하단 라인 제거 */
}
.visual {
	margin:20px;
    height:450px;
    width:600px;
    text-align: center;
    position: relative;
}

.swiper {
    height:450px;
}
.swiper-slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}



.title{
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
}
.title-division-line {
	height:300px;
	border-left: 3px solid #EDF1D6;
	margin : 0 auto;
}
/* 건강정보 */
.health{
	margin:20px;
	margin-bottom:0px;
	display:flex;
	flex-direction:row;
}

/* 인기상품 */
.shopping{
	margin:20px;
	margin-left:35px;	
	display:flex;
	flex-direction:column;
}
.itemInfo{
	margin-bottom:15px;
	display:flex;
	flex-direction:row;
}
#goodsImg{
	margin-right:15px;
}
img{
	width:65px;
	height:65px;
}


/* 게시판 */
.board{
	height:30%;
	width:100%;
	margin-left:20px;
	margin-bottom:30px;
	display:flex;
	flex-direction:row;
}
.noticeboard{
	width:50%;
	margin:20px;
	margin-left: 50px;
}
.freeboard{
	width:50%;
	margin:20px;
	margin-left:50px;
}



