<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.teamcarrot.myct.pay.PayMapper">

	<select id="getCartGoods" parameterType="map" resultType="xyz.teamcarrot.myct.pay.BuyGoodsVO">
		SELECT 	C.cart_no
			  , @ROWNUM:=@ROWNUM+1 AS rownum
			  , C.goods_no
		      ,	NVL(C.option_no,0) AS option_no
		      , C.goods_count AS goods_cnt
		      , G.goods_name AS goods_name
		      ,	NVL(O.option_name,0) AS option_name
		      , G.price AS goods_price
		      , NVL(O.price_updown,0) AS option_price
	          ,	((NVL(G.price,0) + NVL(O.price_updown,0)) * NVL(C.goods_count,0)) AS goods_final_price
	          , G.image AS goods_thumnail
		FROM tb_cart AS C
				JOIN (SELECT @ROWNUM:=-1) AS R
				LEFT JOIN	tb_goods AS G
							ON G.goods_no = C.goods_no
				LEFT JOIN 	tb_goods_option AS O
							ON O.option_no = C.option_no
		WHERE C.member_no = #{member_no}
	</select>
	
	<select id="getAddressList" parameterType="int" resultType="map">
		SELECT 
			  AD.place_no AS place_no
			, @ROWNUM:=@ROWNUM+1 AS rownum
			, AD.place_name AS place_name
			, AD.receive_name AS recevier_name
			, AD.receive_hp AS phone
			, AD.receive_addr AS addr1
			, AD.receive_addr2 AS addr2
			, AD.receive_zipcode AS zipcode
			, NVL(AD.postman_notice,"안전하게 와주세요!") AS notice
			FROM tb_address AS AD
				JOIN (SELECT @ROWNUM:=-1) AS R
				LEFT JOIN tb_member AS M
									ON M.member_no = AD.member_no
		WHERE AD.member_no = #{member_no}
	</select>
	
	<select id="getMemberMileage" parameterType="int" resultType="int">
		SELECT
			  NVL(member_mileage, 0) AS mileage
		FROM tb_member
		WHERE member_no = #{member_no}
	</select>

</mapper>