<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.teamcarrot.myct.member.MemberMapper">
	<select id="dupId" resultType="Integer" parameterType="String">
		SELECT
		COUNT(*) FROM tb_member WHERE member_id = #{member_id}
	</select>
	<!-- 회원가입 시 아이디 중복 -->
	<insert id="regist"
		parameterType="xyz.teamcarrot.myct.member.MemberVO">
		INSERT INTO tb_member (
		member_id, member_pw, member_name,
		member_nickname, member_birthday, member_hp,
		member_email, member_addr,
		member_addrDetail,
		member_joinDate
		) VALUES (
		#{member_id}, #{member_pw},
		#{member_name}, #{member_nickname}, #{member_birthday},
		#{member_hp},
		#{member_email}, #{member_addr}, #{member_addrDetail},
		NOW()
		)
		<selectKey keyProperty="member_no" order="AFTER"
			resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<select id="login"
		resultType="xyz.teamcarrot.myct.member.MemberVO"
		parameterType="xyz.teamcarrot.myct.member.MemberVO">
		SELECT * FROM tb_member WHERE member_id = #{member_id} AND
		member_pw = #{member_pw}
	</select>
	<update id="updateLoginFailCount"
		parameterType="xyz.teamcarrot.myct.member.MemberVO">
		UPDATE tb_member
		SET member_loginFailCnt = #{member.member_loginFailCnt}
		WHERE member_id = #{member.member_id}
	</update>
	<update id="updateLoginBlocked"
		parameterType="xyz.teamcarrot.myct.member.MemberVO">
		UPDATE tb_member
		SET member_loginBlocked = 1
		WHERE member_id = #{member.member_id}
	</update>
	<delete id="deleteMember">
		DELETE FROM tb_member WHERE member_id = #{member_id} AND 
		member_pw = #{member_pw}
		<!-- 임시로 일단(나중에 비밀번호 부분 수정해야함) -->
	</delete>
	<select id="dupNickname" resultType="Integer" parameterType="String">
		SELECT
		COUNT(*) FROM tb_member WHERE member_nickname = #{member_nickname}
	</select>

	<select id="detail"
		resultType="xyz.teamcarrot.myct.member.MemberVO" parameterType="int">
		SELECT
		* FROM tb_member WHERE member_no=#{member_no}
	</select>
	<update id="update"
		parameterType="xyz.teamcarrot.myct.member.MemberVO">
		UPDATE tb_member
		SET member_name = #{member_name},
		member_nickname = #{member_nickname},
		member_pw = #{member_pw},
		member_hp = #{member_hp},
		member_email = #{member_email},
		member_addr = #{member_addr},
		member_addrDetail = #{member_addrDetail}
		WHERE member_no = #{member_no};
	</update>
	<!-- 20231214 추가: 비밀번호 오류 5회 초과시 접속 차단 위해 -->
	<select id="findByUsername"
		resultType="xyz.teamcarrot.myct.member.MemberVO">
		SELECT * FROM tb_member WHERE member_id = #{member_id}
	</select>
	
	<!-- 20231225 -->
	
	<insert id = "memberInterest" parameterType = "xyz.teamcarrot.myct.member.InterestVO">
		INSERT INTO tb_member_interest (
		member_interest_no, member_id
		) VALUES (
		#{member_interest_no}, #{member_id}
		)
	</insert>

<select id="all" parameterType="xyz.teamcarrot.myct.member.MemberVO" resultType="xyz.teamcarrot.myct.member.MemberVO">
		SELECT member_no, member_id, member_name, member_blocked
		FROM tb_member
		ORDER BY member_no
	</select>


</mapper>
