<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.teamcarrot.myct.goods.GoodsMapper">
	<sql id="whereSql">
		<where>
			<if test="search_goods != null and search_goods != ''">
				goods_name LIKE '%${search_goods}%'
			</if>
		</where>
	</sql>	
	<!-- 전체 상품 리스트 -->
	<select id="goodsList" resultType="xyz.teamcarrot.myct.goods.GoodsVO">
		SELECT * FROM tb_goods
		<include refid="whereSql"/>
	</select>
	
	<!-- 카테고리별 상품 리스트 -->
	<select id="getCategoryGoodsList" parameterType="int" resultType="xyz.teamcarrot.myct.goods.GoodsVO">
		SELECT g.* ,c.*
		FROM tb_goods g
		INNER JOIN tb_goods_category c ON g.category_no=c.category_no
		WHERE g.category_no=#{category_no}
	</select>
	
	
	<!-- 상품상세 리스트 -->
	<select id="detail" resultType="xyz.teamcarrot.myct.goods.GoodsVO">
		SELECT g.*, c.category_name
		FROM tb_goods g
		INNER JOIN tb_goods_category c ON g.category_no=c.category_no
		WHERE g.goods_no=#{goods_no}
	</select>
	
	<select id="goodsOption" resultType="xyz.teamcarrot.myct.goods.GoodsOptionVO" parameterType="int">
		SELECT O.option_no
			 , O.option_name
			 , O.price_updown
			 , G.price + O.price_updown AS final_price
		FROM tb_goods_option AS O
		INNER JOIN tb_goods AS G
			ON G.goods_no = O.goods_no
		WHERE O.goods_no=#{goods_no}
	</select>
	
	
	
	
	<!-- 관리자 상품 등록 -->
	<insert id="goodsInsert" parameterType="xyz.teamcarrot.myct.goods.GoodsVO">
		INSERT INTO tb_goods (
			goods_name,
			price,
			discount_price,
			delivery_fee,
			image,
			image_detail1,
			purchase_info,
			register_date,
			stock,
			is_delete,
			category_no 
		) VALUES (
			#{goods_name},
			#{price},
			#{discount_price},
			0,
			#{image},
			#{image_detail1},
			#{purchase_info},
			NOW(),
			#{stock},
			0,
			#{category_no}
		)
		)
	
	</insert>
	
	
</mapper>