<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.teamcarrot.myct.healthInfo.DiaryMapper">
	<!-- 식단 다이어리 입력 -->
	<insert id="insertFoodDiary" parameterType="xyz.teamcarrot.myct.healthInfo.FoodDiaryVO">
		INSERT INTO tb_food_diary (
			food_diary_date
			, intake_date
			, intake_time
			, image
			, total_calorie
			, total_carbs
			, total_protein
			, total_fat
			, total_sugar
			, total_salt
			, member_no
		) VALUES (
			NOW()
			, #{intake_date}
			, #{intake_time}
			, #{image}
			, #{total_calorie}
			, #{total_carbs}
			, #{total_protein}
			, #{total_fat}
			, #{total_sugar}
			, #{total_salt}
			, #{member_no}
		)
		<!-- tb_health_diary 테이블 키 값 -->
		<selectKey keyProperty="food_diary_no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 식단 다이어리 불러오기 -->
	<select id="selectFoodDiary" parameterType="int" resultType="xyz.teamcarrot.myct.healthInfo.FoodDiaryVO">
		SELECT
			  food_diary_no
			, intake_date
			, CAST(SUM(total_calorie) AS INT) AS total_calorie
			, CAST(SUM(total_carbs) AS INT) AS total_carbs
			, CAST(SUM(total_protein) AS INT) AS total_protein
			, CAST(SUM(total_fat) AS INT) AS total_fat
			, CAST(SUM(total_sugar) AS INT) AS total_sugar
			, CAST(SUM(total_salt) AS INT) AS total_salt
		FROM tb_food_diary
		WHERE member_no = #{member_no}
			AND intake_date = CURDATE();
	</select>
	<!-- 식단 칼로리 섭취 시간 기준으로 불러오기 -->
	<select id="selectFoodCal" parameterType="int" resultType="xyz.teamcarrot.myct.healthInfo.FoodDiaryVO">
		SELECT 
		     SUM(CASE WHEN intake_time = 1 THEN total_calorie ELSE 0 END) AS breakfast_calorie
		   , SUM(CASE WHEN intake_time = 2 THEN total_calorie ELSE 0 END) AS lunch_calorie
		   , SUM(CASE WHEN intake_time = 3 THEN total_calorie ELSE 0 END) AS dinner_calorie
		   , SUM(CASE WHEN intake_time = 4 THEN total_calorie ELSE 0 END) AS snack_calorie
		FROM tb_food_diary
		WHERE DATE(intake_date) = DATE(NOW()) AND member_no = #{member_no};
	</select>
	<!-- 식단 다이어리 수정 -->
	<update id="updateFoodDiary" parameterType="xyz.teamcarrot.myct.healthInfo.FoodDiaryVO">
		UPDATE tb_food_diary
		SET intake_date = #{intake_date}
			, intake_time = #{intake_time}
			, image = #{image}
			, total_calorie = #{total_calorie}
			, total_carbs = #{total_carbs}
			, total_protein = #{total_protein}
			, total_fat = #{total_fat}
			, total_sugar = #{total_sugar}
			, total_salt = #{total_salt}
		WHERE food_diary_no = #{food_diary_no};
	</update>
	<!-- 식단 다이어리 삭제 -->
	<delete id="deleteFoodDiary" parameterType="int">
		DELETE FROM tb_food_diary WHERE food_diary_no = #{food_diary_no}
	</delete>
	
	<!-- 식단 정보 입력 -->
	<insert id="insertFoodInfo" parameterType="xyz.teamcarrot.myct.healthInfo.FoodDiaryInfoVO">
		INSERT INTO tb_food_diary_info (
			food_name, food_gram, food_unit, food_calorie, food_carbs, food_protein, food_fat, food_sugar, food_salt, food_diary_no
		) VALUES (
			#{food_name}, #{food_gram}, #{food_unit}, #{food_calorie}, #{food_carbs}, #{food_protein}, #{food_fat}, #{food_sugar}, #{food_salt}, #{food_diary_no}
		)
		<!-- tb_health_diary 테이블 키 값 -->
		<selectKey keyProperty="food_diary_info_no" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 식단 정보 불러오기 -->
	<select id="selectFoodInfo" parameterType="int" resultType="xyz.teamcarrot.myct.healthInfo.FoodDiaryInfoVO">
		SELECT * FROM tb_food_diary_info WHERE food_diary_no = #{food_diary_no} AND food_diary_info_no = #{food_diary_info_no};
	</select>
	<!-- 식단 정보 수정 -->
	<update id="updateFoodInfo" parameterType="xyz.teamcarrot.myct.healthInfo.FoodDiaryInfoVO">
		UPDATE tb_food_diary_info
		SET food_name = #{food_name}
			, food_gram = #{food_gram}
			, food_unit = #{food_unit}
			, food_calorie = #{food_calorie}
			, food_carbs = #{food_carbs}
			, food_protein = #{food_protein}
			, food_fat = #{food_fat}
			, food_sugar = #{food_sugar}
			, food_salt = #{food_salt}
		WHERE food_diary_info_no = #{food_diary_info_no};
	</update>
	<!-- 식단 정보 삭제 -->
	<delete id="deleteFoodInfo" parameterType="int">
		DELETE FROM tb_food_diary_info WHERE food_diary_info_no = #{food_diary_info_no}
	</delete>
</mapper>